/* ReactFlow node styles */
.react-flow__node.role-user {
  background-color: theme('colors.terminal-user');
  border-color: theme('colors.terminal-user');
}
.react-flow__node.role-assistant {
  background-color: theme('colors.terminal-assistant');
  border-color: theme('colors.terminal-assistant');
}
.react-flow__node.role-system {
  /* For root node */
  background-color: theme('colors.terminal-border');
  border-color: theme('colors.terminal-text');
}

/* Default node styles */
.react-flow__node {
  padding: 4px 8px;
  border-width: 1px;
  font-size: 0.75rem; /* text-xs */
  color: theme('colors.terminal-text');
  opacity: 0.4;
  cursor: pointer;
}

.react-flow__node.current {
  opacity: 1;
}
.react-flow__node.ancestor {
  opacity: 1;
}

.react-flow__node.bookmark {
  border-width: 10px;
  border-color: theme('colors.terminal-focus');
}
